<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>SalesProduct</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>registration.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/registration/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSaleController</display-name>
    <servlet-name>InsertSaleController</servlet-name>
    <servlet-class>InsertSaleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSaleController</servlet-name>
    <url-pattern>/InsertSaleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSaleDao</display-name>
    <servlet-name>InsertSaleDao</servlet-name>
    <servlet-class>InsertSaleDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSaleDao</servlet-name>
    <url-pattern>/InsertSaleDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSalePojo</display-name>
    <servlet-name>InsertSalePojo</servlet-name>
    <servlet-class>InsertSalePojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSalePojo</servlet-name>
    <url-pattern>/InsertSalePojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSaleController</display-name>
    <servlet-name>UpdateSaleController</servlet-name>
    <servlet-class>UpdateSaleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSaleController</servlet-name>
    <url-pattern>/UpdateSaleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSaleDao</display-name>
    <servlet-name>UpdateSaleDao</servlet-name>
    <servlet-class>UpdateSaleDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSaleDao</servlet-name>
    <url-pattern>/UpdateSaleDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSalePojo</display-name>
    <servlet-name>UpdateSalePojo</servlet-name>
    <servlet-class>UpdateSalePojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSalePojo</servlet-name>
    <url-pattern>/UpdateSalePojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDao</display-name>
    <servlet-name>DeleteDao</servlet-name>
    <servlet-class>DeleteDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDao</servlet-name>
    <url-pattern>/DeleteDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePojo</display-name>
    <servlet-name>DeletePojo</servlet-name>
    <servlet-class>DeletePojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePojo</servlet-name>
    <url-pattern>/DeletePojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>